html,
body,
blockquote,
ul,
ol,
form,
input,
button,
figure {
    margin: 0;
    padding: 0;
}

.p-4 {
    padding: 1rem;
}

.m-2 {
    margin: .5rem;
}

.checkbox-fakecheck-img {
    margin: auto;
    transform: scale(0);
    transition: .15s transform cubic-bezier(.34, 1.56, .64, 1);
}



@media (min-width: 56.885em) {
    .lg\:m-8 {
        margin: 2rem;
    }
}