html,
body,
blockquote,
ul,
ol,
form,
input,
button,
figure {
    margin: 0;
    padding: 0;
}

.checkbox-fakecheck-img {
    margin: auto;
    transform: scale(0);
    transition: .15s transform cubic-bezier(.34, 1.56, .64, 1);
}

@media (min-width: 28.135em) {
    .sm\:p-11 {
        padding: 2.75rem;
    }
}