@layer components {

    /* If the browser supports `@supports`, set Inter static if it doesn't support variable fonts*/
        @supports not (font-variation-settings: normal) {
            html {
                font-family: system-ui, sans-serif;
            }
        }
    
        /* If the browser supports `@supports`, set Inter variable if it supports variable fonts*/
        @supports (font-variation-settings: normal) {
            html {
                font-family: "InterVariable", sans-serif;
            }
        }

    .ui-standard {
        background-color: var(--background-norm);
        color: var(--text-norm);
    }

    .flex>*,
    .modal-close>*,
    .sm\:flex>*,
    .md\:flex>*,
    .lg\:flex>*,
    .xl\:flex>* {
        min-block-size: 0;
        min-inline-size: 0;
    }

    .button-small {
        --padding-block: .2142857143em;
        --padding-inline: .7857142857em;
    }

    .button-ghost-norm {
        --button-default-background-color: var(--interaction-default);
        --button-hover-background-color: var(--interaction-default-hover);
        --button-active-background-color: var(--interaction-default-active);
        --button-default-text-color: var(--interaction-norm-major-1);
        --button-hover-text-color: var(--interaction-norm-major-2);
        --button-active-text-color: var(--interaction-norm-major-3);
    }

    .button {
        display: inline-block;
        padding-block: var(--padding-block);
        padding-inline: var(--padding-inline);
        border: 1px solid var(--button-default-border-color, transparent);
        border-radius: var(--border-radius-md);
        outline: none;
        background-color: var(--button-default-background-color, transparent);
        color: var(--button-default-text-color, inherit);
        text-align: center;
        cursor: pointer;
        transition: .15s cubic-bezier(.22, 1, .36, 1), background-position 0s;

        &:hover,
        &.is-hover {
            border-color: var(--button-hover-border-color, transparent);
            background-color: var(--button-hover-background-color, transparent);
            color: var(--button-hover-text-color, inherit);
            opacity: 1;
        }
    }



    .button-solid-norm {
        --button-default-background-color: var(--interaction-norm);
        --button-hover-background-color: var(--interaction-norm-major-1);
        --button-active-background-color: var(--interaction-norm-major-2);
        --button-default-text-color: var(--interaction-norm-contrast);
        --button-hover-text-color: var(--interaction-norm-contrast);
        --button-active-text-color: var(--interaction-norm-contrast);
        --focus-outline: var(--interaction-norm-major-2);
    }

    .button-large {
        --padding-block: .5625em;
        --padding-inline: 1.1875em;
        font-size: 1.1428571429em;
        line-height: 1.5;
    }

    .button,
    .button:hover,
    .button:focus,
    .button:focus-within,
    .button:active {
        text-decoration: none;
    }

    /* checkbox */
    .checkbox-container {
        display: inline-flex;
    }

    .checkbox-input {
        position: absolute;
        cursor: pointer;
        inset: 0;
        inline-size: 100%;
        block-size: 100%;
        z-index: 1;
        opacity: 0;
        margin: 0;
    }

    .checkbox-fakecheck,
    .radio-fakeradio {
        display: inline-flex;
        min-inline-size: 1.25rem;
        inline-size: 1.25rem;
        block-size: 1.25rem;
        margin-block: auto;
        border-radius: var(--border-radius-sm);
        border: 1px solid var(--field-norm);
        background-color: var(--field-background-color);
        color: var(--field-text-color);
        transition: .15s cubic-bezier(.33, 1, .68, 1);
    }

    .checkbox-input:checked+.checkbox-fakecheck {
        border-color: var(--interaction-norm);
        background-color: var(--interaction-norm);
        color: var(--interaction-norm-contrast);
    }

    .checkbox-input:checked+.checkbox-fakecheck .checkbox-fakecheck-img {
        stroke-width: 1.5px;
        stroke: currentcolor;
    }

    .checkbox-fakecheck-img {
        margin: auto;
        transform: scale(0);
        transition: .15s transform cubic-bezier(.34, 1.56, .64, 1);
    }

    .top-custom {
        inset-block-start: var(--top-custom);
    }

    .min-size-auto\>\*>* {
        min-block-size: auto;
        min-inline-size: auto;
    }

    @media (min-width: 28.135em) {
        .sign-layout-bg {
            background: linear-gradient(68.66deg, #e8e2ff 1.3%, #f7f5ff 50%);
        }
    }

    .sign-layout-main-header {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
    }

    .sign-layout-main-header>* {
        min-block-size: 0;
        min-inline-size: 0;
    }

    .sign-layout-main-header>div:last-child {
        display: flex;
        flex-wrap: wrap;
        justify-self: flex-end;
    }

    .sign-layout-main-header>div:last-child>* {
        min-block-size: 0;
        min-inline-size: 0;
    }

    .sign-layout {
        transform: translateZ(0);
        transition: max-inline-size .15s cubic-bezier(.42, 0, 1, 1);
        border-radius: var(--border-radius-lg);
    }

    @media (min-width: 28.135em) {
        .sign-layout-main-header {
            display: grid;
            grid-template-columns: repeat(3, minmax(auto, 100%));
            justify-content: space-between;
        }
    }

    .max-w-custom {
        max-inline-size: var(--max-w-custom);
    }

    .shadow-color-primary {
        --shadow-color: var(--shadow-primary-color);
    }

    .sign-layout-title {
        font-size: 1.75rem;
        font-weight: 400;
    }

    .sign-layout h1 {
        font-weight: var(--font-weight-bold);
    }

    .color-weak {
        color: var(--text-weak);
    }

    .link-focus {
        outline: 1px solid rgba(0, 0, 0, 0);
        outline-offset: .0714285714em;
        border-radius: var(--border-radius-sm);
        transition: outline .15s cubic-bezier(.5, 1, .89, 1);
    }

    .wizard-item:not(:last-child) {
        flex: 1 1 0;
    }

    .label {
        padding-block-start: .5em;
        inline-size: var(--label-width, 18em);
        padding-inline-end: .5em;
        max-inline-size: 100%;
        flex-shrink: 0;
    }

    .modal-close {
        display: flex;
        flex-wrap: wrap;
    }


    .mr-custom {
        margin-inline-end: var(--mr-custom);
    }

    .app-root,
    .content-container {
        block-size: 100%;
    }

    .left-custom {
        inset-inline-start: var(--left-custom);
    }


    @media (min-width: 28.135em) {
        .sm\:shadow-lifted {
            box-shadow: var(--shadow-lifted-offset) rgb(var(--shadow-color, var(--shadow-default-color)) / var(--shadow-lifted-opacity));
        }
    }

    .field-two-container {
        position: relative;
        display: block;
        inline-size: 100%;
        max-inline-size: 100%;
        cursor: default;
    }

    .field-two-label-container {
        font-weight: var(--font-weight-semibold);
        margin-block-end: .25rem;
    }

    .field-two-label {
        cursor: pointer;
    }

    .input-element {
        min-block-size: 2.125rem;
        padding-block: .5em;
        padding-inline: 1.1428571429em;
        border-radius: var(--border-radius-md);
        background: none;
        color: inherit;
        outline: none;
        filter: none;
    }

    .field-two--bigger .input-element,
    .field-two--bigger .select {
        padding-block: .6875rem;
    }

    .input {
        border-radius: var(--border-radius-md);
        border: 1px solid var(--field-norm);
        background-color: var(--field-background-color);
        color: var(--field-text-color);
        transition: .15s cubic-bezier(.22, 1, .36, 1), visibility 0s;

        &.focus,
        &:not(.disabled):focus-within {
            border-color: var(--focus-outline);
            background-color: var(--field-focus-background-color);
            color: var(--field-focus-text-color);
            box-shadow: 0 0 0 0.1875rem var(--focus-ring);
        }
    }

    .field-two-assist {
        margin-block-start: .25rem;
        font-size: .75rem;
        color: var(--text-weak);
    }

    .field-two-assist:empty:before {
        content: " ";
        white-space: pre;
    }

    .signup-link {
        text-decoration: underline;
    }

    .checkbox-input:checked+.checkbox-fakecheck .checkbox-fakecheck-img {
        transform: scale(1);
        transition-delay: .1s;
    }

    .interactive-pseudo-protrude:not([class*=bg-]),
    .interactive-pseudo-inset:not([class*=bg-]),
    .dropdown-item-button:not([class*=bg-]),
    .dropdown-item-link:not([class*=bg-]),
    .interactive-pseudo:not([class*=bg-]),
    .minicalendar-weeknumber:not([class*=bg-]),
    .minicalendar-day:not([class*=bg-]),
    .autocomplete-suggestions div:not([class*=bg-]),
    .interactive:not([class*=bg-]),
    .dropdown-item-container:not([class*=bg-]),
    .apps-dropdown-button:not([class*=bg-]),
    .toolbar .select:not([class*=bg-]),
    .toolbar-button:not([class*=bg-]),
    .navigation-sublink:not([class*=bg-]),
    .navigation-link-header-group-control:not([class*=bg-]),
    .navigation-link-header-group-link:not([class*=bg-]),
    .navigation-link:not([class*=bg-]) {
        background-color: var(--interaction-default);
    }

    .interactive-pseudo-protrude,
    .interactive-pseudo-inset,
    .dropdown-item-button,
    .dropdown-item-link,
    .interactive-pseudo,
    .minicalendar-weeknumber,
    .minicalendar-day,
    .autocomplete-suggestions div,
    .interactive,
    .dropdown-item-container,
    .apps-dropdown-button,
    .toolbar .select,
    .toolbar-button,
    .navigation-sublink,
    .navigation-link-header-group-control,
    .navigation-link-header-group-link,
    .navigation-link {
        outline: none;
        color: inherit;
        transition: .15s cubic-bezier(.22, 1, .36, 1), background-position 0s;
    }

    @supports selector(:focus-visible:has(a, b)) {

        .interactive-pseudo-protrude,
        .interactive-pseudo-inset,
        .dropdown-item-button,
        .dropdown-item-link,
        .interactive-pseudo,
        .minicalendar-weeknumber,
        .minicalendar-day,
        .autocomplete-suggestions div,
        .interactive,
        .dropdown-item-container,
        .apps-dropdown-button,
        .toolbar .select,
        .toolbar-button,
        .navigation-sublink,
        .navigation-link-header-group-control,
        .navigation-link-header-group-link,
        .navigation-link {
            outline: unset;
        }
    }

    .interactive-pseudo,
    .minicalendar-weeknumber,
    .minicalendar-day,
    .autocomplete-suggestions div,
    .interactive-pseudo-protrude,
    .interactive-pseudo-inset,
    .dropdown-item-button,
    .dropdown-item-link {
        z-index: 1;
    }

    .invisible,
    .wizard-container--no-text-displayed .wizard-item[aria-current=step] .wizard-item-inner,
    .sr-only,
    .radio,
    .app-infos-compact .app-infos-name {
        position: absolute;
        inset-block-start: 0;
        block-size: 1px;
        inline-size: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        border: 0;
        clip: rect(0 0 0 0);
    }

        .my-rounded-lg {
            border-radius: var(--border-radius-lg);     }
}