@layer utilities {
    .flx {
        display: flex;
    }

    .flx-nowrap {
        flex-wrap: nowrap;
    }

    .flx-column {
        flex-direction: column;
    }

    .flx-wrap {
        flex-wrap: wrap;
    }

    .flx-1 {
        flex: 1 1 0;
    }

    .shrink-0 {
        flex-shrink: 0;
    }

    .infline-flex {
        display: inline-flex;
    }

    @media (min-width: 28.135em) {
        .sm\:px-6 {
            padding-inline: 1.5rem;
        }
    }
}