:root {
    --font-weight-normal: 400;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
}

html,
.apply-font {
    font-family: var(--setting-font-family, var(--optional-font-family, 'InterVariable')), system-ui,
        sans-serif;
    font-synthesis: none;
    font-weight: var(--font-weight-normal);
    font-style: normal;

    /* stylelint-disable */
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smooth: antialiased;
    /* stylelint-enable */

    /* If the browser supports `@supports`, set Inter static if it doesn't support variable fonts*/
    @supports not (font-variation-settings: normal) {
        font-family: var(--setting-font-family, var(--optional-font-family, 'Inter')),
            system-ui,
            sans-serif;
    }

    /* If the browser supports `@supports`, set Inter variable if it supports variable fonts*/
    @supports (font-variation-settings: normal) {
        font-family: var(--setting-font-family, var(--optional-font-family, 'InterVariable')),
            system-ui,
            sans-serif;
    }
}

.sign-layout-main-header>div:last-child {
    display: flex;
    flex-wrap: wrap;
    justify-self: flex-end;
}