.icon-size-15,
.icon-size-14,
.icon-size-13,
.icon-size-12,
.icon-size-11,
.icon-size-10,
.icon-size-9,
.icon-size-8,
.icon-size-7,
.icon-size-6,
.icon-size-5\.5,
.icon-size-5,
.icon-size-4\.5,
.icon-size-4,
.icon-size-3\.5,
.icon-size-3,
.icon-size-2\.75,
.icon-size-2\.5 {
    display: inline-block;
    vertical-align: middle;
    fill: currentcolor;
}

.icon-size-4 {
    inline-size: 1rem;
    block-size: 1rem;
}

.icon-size-7 {
    inline-size: 1.75rem;
    block-size: 1.75rem;
}