@supports selector(::-webkit-scrollbar) {
    html:not(.feature-scrollbars-off) *::-webkit-scrollbar-corner {
        visibility: hidden;
    }
}

@supports selector(::-webkit-scrollbar) {
    html:not(.feature-scrollbars-off) *::-webkit-scrollbar-corner {
        visibility: hidden;
    }
}

.flex>*,
.modal-close>*,
.sm\:flex>*,
.md\:flex>*,
.lg\:flex>*,
.xl\:flex>* {
    min-block-size: 0;
    min-inline-size: 0;
}

.rounded {
    border-radius: var(--border-radius-md);
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.shadow-color-primary {
    --shadow-color: var(--shadow-primary-color);
}