.interactive-pseudo-protrude:not([class*=bg-]),
.interactive-pseudo-inset:not([class*=bg-]),
.dropdown-item-button:not([class*=bg-]),
.dropdown-item-link:not([class*=bg-]),
.interactive-pseudo:not([class*=bg-]),
.minicalendar-weeknumber:not([class*=bg-]),
.minicalendar-day:not([class*=bg-]),
.autocomplete-suggestions div:not([class*=bg-]),
.interactive:not([class*=bg-]),
.dropdown-item-container:not([class*=bg-]),
.apps-dropdown-button:not([class*=bg-]),
.toolbar .select:not([class*=bg-]),
.toolbar-button:not([class*=bg-]),
.navigation-sublink:not([class*=bg-]),
.navigation-link-header-group-control:not([class*=bg-]),
.navigation-link-header-group-link:not([class*=bg-]),
.navigation-link:not([class*=bg-]) {
    background-color: var(--interaction-default);
}

.interactive-pseudo-protrude,
.interactive-pseudo-inset,
.dropdown-item-button,
.dropdown-item-link,
.interactive-pseudo,
.minicalendar-weeknumber,
.minicalendar-day,
.autocomplete-suggestions div,
.interactive,
.dropdown-item-container,
.apps-dropdown-button,
.toolbar .select,
.toolbar-button,
.navigation-sublink,
.navigation-link-header-group-control,
.navigation-link-header-group-link,
.navigation-link {
    outline: none;
    color: inherit;
    transition: .15s cubic-bezier(.22, 1, .36, 1), background-position 0s;
}

@supports selector(:focus-visible:has(a, b)) {

    .interactive-pseudo-protrude,
    .interactive-pseudo-inset,
    .dropdown-item-button,
    .dropdown-item-link,
    .interactive-pseudo,
    .minicalendar-weeknumber,
    .minicalendar-day,
    .autocomplete-suggestions div,
    .interactive,
    .dropdown-item-container,
    .apps-dropdown-button,
    .toolbar .select,
    .toolbar-button,
    .navigation-sublink,
    .navigation-link-header-group-control,
    .navigation-link-header-group-link,
    .navigation-link {
        outline: unset;
    }
}

.interactive-pseudo,
.minicalendar-weeknumber,
.minicalendar-day,
.autocomplete-suggestions div,
.interactive-pseudo-protrude,
.interactive-pseudo-inset,
.dropdown-item-button,
.dropdown-item-link {
    z-index: 1;
}