@media (min-width: 28.135em) {
    .sign-layout-bg {
        background: linear-gradient(68.66deg, #e8e2ff 1.3%, #f7f5ff 50%);
    }
}

:root {
    --border-radius-4xl: calc(4 * var(--border-radius) * var(--1px));
}

.sign-layout-main-header>* {
    min-block-size: 0;
    min-inline-size: 0;
}

.sign-layout-main-header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

@media (min-width: 28.135em) {
    .sign-layout-main-header {
        display: grid;
        grid-template-columns: repeat(3, minmax(auto, 100%));
        justify-content: space-between;
    }
}

.sign-layout-main-header>div:last-child>* {
    min-block-size: 0;
    min-inline-size: 0;
}

@media (min-width: 42.51em) {
    .sign-layout {
        min-block-size: 24.375rem;
    }
}

.sign-layout {
    transform: translateZ(0);
    transition: max-inline-size .15s cubic-bezier(.42, 0, 1, 1);
    border-radius: var(--border-radius-lg);
}