@media (hover: hover) and (pointer: fine) {
    @supports (scrollbar-width: auto) {
        html:not(.feature-scrollbars-off) body *:not(:hover, :focus, :focus-within) {
            scrollbar-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
        }
    }
}

@media (hover: hover) and (pointer: fine) {
    @supports selector(::-webkit-scrollbar) {
        html:not(.feature-scrollbars-off) body *:not(:hover, :focus, :focus-within)::-webkit-scrollbar-thumb {
            visibility: hidden;
        }
    }
}