:lang(en) {
    quotes: "\201c" "\201d" "\2018" "\2019";
}


html {
    quotes: "\201c" "\201d" "\2018" "\2019";
}

article,
aside,
details,
dialog,
figure,
footer,
header,
main,
menu,
nav,
section {
    display: block;
}

button,
progress {
    border: 0;
}


label,
button,
input[type=submit],
input[type=button],
input[type=reset] {
    cursor: pointer;
}

label,
button,
input,
select {
    color: currentcolor;
    vertical-align: middle;
}

input,
select,
textarea,
optgroup,
button {
    background: #0000;
    border: 0;
    font: inherit;
    color: inherit;
    -webkit-appearance: none;
}