:lang(en) {
    quotes: "\201c" "\201d" "\2018" "\2019";
}


html {
    quotes: "\201c" "\201d" "\2018" "\2019";
}

article,
aside,
details,
dialog,
figure,
footer,
header,
main,
menu,
nav,
section {
    display: block;
}