.hidden {
    display: none;
}

.relative {
    position: relative;
}

.flex-column {
    flex-direction: column;
}

.items-center {
    align-items: center;
}

.flex-row {
    flex-direction: row;
}

.inline-flex,
[class*=badge-label] {
    display: inline-flex;
    flex-wrap: wrap;
}



.shrink-0 {
    flex-shrink: 0;
}

.h-full {
    block-size: 100%;
}

.overflow-auto {
    overflow: auto;
}

.gap-1 {
    gap: .25rem;
}

.px-6 {
    padding-inline: 1.5rem;
}

.mb-6 {
    margin-block-end: 1.5rem;
}

.pb-6 {
    padding-block-end: 1.5rem;
}

.mt-2 {
    margin-block-start: .5rem;
}

.pt-1 {
    padding-block-start: .25rem;
}

.mx-auto {
    margin-inline: auto;
}

.max-w-custom {
    max-inline-size: var(--max-w-custom);
}

.py-3 {
    padding-block: .75rem;
}

.mb-2 {
    margin-block-end: .5rem;
}

.ml-1 {
    margin-inline-start: .25rem;
}

.items-center {
    align-items: center;
}

.\*\:min-size-auto>* {
    min-block-size: auto;
    min-inline-size: auto;
}

.flex,
.modal-close {
    display: flex;
    flex-wrap: wrap;
}


.mr-custom {
    margin-inline-end: var(--mr-custom);
}

.mr-2 {
    margin-inline-end: .5rem;
}

.justify-space-between {
    justify-content: space-between;
}

.flex-nowrap {
    flex-wrap: nowrap;
}

.w-full {
    inline-size: 100%;
}

.absolute {
    position: absolute;
    z-index: 1;
}

.gap-2 {
    gap: .5rem;
}

.flex-1,
.wizard-item:not(:last-child) {
    flex: 1 1 0;
}

.items-start {
    align-items: flex-start;
}

@media (min-width: 28.135em) {
    .sm\:inline-block {
        display: inline-block;
    }
}

:root {
    --shadow-lifted: var(--shadow-lifted-offset) rgb(var(--shadow-color, var(--shadow-default-color)) / var(--shadow-lifted-opacity));
}

:root {
    --shadow-raised: var(--shadow-raised-offset) rgb(var(--shadow-color, var(--shadow-default-color)) / var(--shadow-raised-opacity));
}

:root {
    --shadow-norm: var(--shadow-norm-offset) rgb(var(--shadow-color, var(--shadow-default-color)) / var(--shadow-norm-opacity));
}

:root {
    --space-0: 0rem;
    --space-px: .0625rem;
    --space-0-5: .125rem;
    --space-1: .25rem;
    --space-1-5: .375rem;
    --space-2: .5rem;
    --space-3: .75rem;
    --space-4: 1rem;
    --space-5: 1.25rem;
    --space-6: 1.5rem;
    --space-7: 1.75rem;
    --space-8: 2rem;
    --space-10: 2.5rem;
    --space-11: 2.75rem;
    --space-12: 3rem;
    --space-14: 3.5rem;
    --space-16: 4rem;
    --space-20: 5rem;
    --space-auto: auto;
}



@media (min-width: 56.885em) {
    .lg\:px-12 {
        padding-inline: 3rem;
    }
}

@media (min-width: 42.51em) {
    .md\:pb-10 {
        padding-block-end: 2.5rem;
    }
}

@media (min-width: 42.51em) {
    .md\:pt-5 {
        padding-block-start: 1.25rem;
    }
}

@media (min-width: 42.51em) {
    .md\:mb-0 {
        margin-block-end: 0rem;
    }
}

@media (min-width: 28.135em) {
    .sm\:gap-4 {
        gap: 1rem;
    }
}

@media (min-width: 28.135em) {
    .sm\:px-6 {
        padding-inline: 1.5rem;
    }
}

@media (min-width: 28.135em) {
    .sm\:shadow-lifted {
        box-shadow: var(--shadow-lifted-offset) rgb(var(--shadow-color, var(--shadow-default-color)) / var(--shadow-lifted-opacity));
    }
}

@media (min-width: 28.135em) {
    .sm\:inline-block {
        display: inline-block;
    }
}

.inline-block {
    display: inline-block;
}