@supports (scrollbar-width: auto) {
    html:not(.feature-scrollbars-off) * {
        scrollbar-width: thin;
        scrollbar-color: var(--scrollbar-thumb-color) rgba(0, 0, 0, 0);
    }
}

@supports selector(::-webkit-scrollbar) {
    html:not(.feature-scrollbars-off) *::-webkit-scrollbar {
        inline-size: .625rem;
        block-size: .625rem;
    }
}

@supports selector(::-webkit-scrollbar) {
    html:not(.feature-scrollbars-off) *::-webkit-scrollbar-corner {
        visibility: hidden;
    }
}

@supports selector(::-webkit-scrollbar) {
    html:not(.feature-scrollbars-off) *::-webkit-scrollbar-thumb {
        border: .125rem solid rgba(0, 0, 0, 0);
        background-clip: padding-box;
        border-radius: .3125rem;
        background-color: var(--scrollbar-thumb-color);
    }
}

@supports selector(::-webkit-scrollbar) {
    html:not(.feature-scrollbars-off) *::-webkit-scrollbar-track {
        background-color: #0000;
    }
}