.link-focus {
    outline: 1px solid rgba(0, 0, 0, 0);
    outline-offset: .0714285714em;
    border-radius: var(--border-radius-sm);
    transition: outline .15s cubic-bezier(.5, 1, .89, 1);
}

@supports (font-variation-settings: normal) {

    html,
    .apply-font {
        font-family: var(--setting-font-family, var(--optional-font-family, "InterVariable", system-ui, sans-serif));
    }
}

@media (min-width: 56.885em) {
    .lg\:text-right {
        text-align: end;
    }
}