body {
    color: var(--text-norm);
    line-height: 1.4285714286;
    font-size: .875em;
}

html {
    font-size: calc(var(--setting-font-size) * 7.1428571429%);
}

h1,
.h1 {
    display: block;
    margin: 0;
    font-size: 2.5714285714em;
    font-weight: var(--font-weight-normal);
}

@supports (font-variation-settings: normal) {

    html,
    .apply-font {
        font-family: var(--setting-font-family, var(--optional-font-family, "InterVariable", system-ui, sans-serif));
    }
}