@layer utilities {


    .color-primary {
        color: var(--primary);
    }

    .mark-red {
        border: 4px solid red;
    }


    @media (min-width: 28.135em) {
        .sm\:px-5 {
            padding-inline: 1.25rem;
        }
    }

    @media (min-width: 28.135em) {
        .sm\:pb-0 {
            padding-block-end: 0rem;
        }
    }

    @media (min-width: 28.135em) {
        .sm\:pt-8 {
            padding-block-start: 2rem;
        }
    }


    @media (min-width: 28.135em) {
        .sm\:inline {
            display: inline;
        }
    }



    @media (min-width: 28.135em) {
        .sm\:text-rg {
            font-size: 1em;
        }
    }

    @media (min-width: 28.135em) {
        .sm\:hidden {
            display: none;
        }
    }




    @media (min-width: 28.135em) {
        .sm\:text-rg {
            font-size: 1em;
        }
    }

    @media (min-width: 28.135em) {
        .sm\:hidden {
            display: none;
        }
    }



    @media (min-width: 28.135em) {
        .sm\:inline {
            display: inline;
        }
    }




    @media (min-width: 28.135em) {
        .sm\:px-5 {
            padding-inline: 1.25rem;
        }
    }

    @media (min-width: 28.135em) {
        .sm\:pb-0 {
            padding-block-end: 0rem;
        }
    }

    @media (min-width: 28.135em) {
        .sm\:pt-8 {
            padding-block-start: 2rem;
        }
    }
}